article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

body {
  background-color: #fff; }

.grid-wrapper header {
  text-align: center; }
  .grid-wrapper header .logo {
    max-width: 300px;
    margin: 10px 0; }

.grid-wrapper .row {
  clear: both; }
  @media only screen and (min-width: 768px) {
    .grid-wrapper .row {
      margin-bottom: 20px; } }

.grid-wrapper .box {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
  margin-bottom: 20px;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  @media only screen and (min-width: 640px) {
    .grid-wrapper .box {
      display: inline;
      float: left;
      width: 47.91667%;
      margin: 0 1.04167%;
      padding-bottom: 26.25%;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 768px) {
    .grid-wrapper .box {
      display: inline;
      float: left;
      width: 31.25%;
      margin: 0 1.04167%;
      margin-bottom: 30px;
      padding-bottom: 17.25%; } }

.grid-wrapper .box iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.panel-wrapper .panel {
  width: 100%;
  position: relative;
  text-align: center;
  height: 33.333vh;
  padding: 3%; }
  @media only screen and (min-width: 768px) {
    .panel-wrapper .panel {
      width: 50%;
      float: left;
      height: 100vh;
      text-align: left; } }
  .panel-wrapper .panel .back {
    visibility: hidden;
    opacity: 0;
    color: #fff;
    transition: opacity 0.5s ease; }
  .panel-wrapper .panel.opera {
    background-color: #20629c;
    transition: left 1s ease; }
    @media only screen and (min-width: 768px) {
      .panel-wrapper .panel.opera {
        position: absolute;
        left: 33%;
        transition: left 1s ease; } }
  .panel-wrapper .panel.music {
    background-color: #104a73;
    transition: left 1s ease; }
    @media only screen and (min-width: 768px) {
      .panel-wrapper .panel.music {
        position: absolute;
        left: -17%;
        transition: left 1s ease; } }
  .panel-wrapper .panel.ballet {
    background-color: #62a4c5;
    transition: left 1s ease; }
    @media only screen and (min-width: 768px) {
      .panel-wrapper .panel.ballet {
        position: absolute;
        left: 66%;
        transition: left 1s ease; } }
  .panel-wrapper .panel.open {
    transition: left 1s ease; }
    @media only screen and (min-width: 768px) {
      .panel-wrapper .panel.open {
        position: absolute;
        left: 0;
        transition: left 1s ease; } }
  .panel-wrapper .panel h2 {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    font-size: 60px; }
    @media only screen and (min-width: 768px) {
      .panel-wrapper .panel h2 {
        font-size: 84px; } }
  .panel-wrapper .panel p:first-child {
    margin-bottom: 5px; }
  .panel-wrapper .panel .surtitle {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    background-color: #068a7b;
    padding: 7px 5px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: bold; }
  .panel-wrapper .panel .description {
    font-family: Domine, serif;
    color: #e6e6e6;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    margin: 0;
    display: none; }
    @media only screen and (min-width: 768px) {
      .panel-wrapper .panel .description {
        display: block; } }
  @media only screen and (min-width: 768px) {
    .panel-wrapper .panel .overlay {
      position: absolute;
      bottom: 0;
      opacity: 0;
      transition: transform 0.15s linear, opacity 0.35s linear; } }
  @media only screen and (min-width: 768px) {
    .panel-wrapper .panel:hover .overlay, .panel-wrapper .panel:focus .overlay {
      transform: translateY(-20%);
      visibility: visible;
      opacity: 1; } }

@media only screen and (min-width: 768px) {
  .panel-wrapper .panel.open, .panel-wrapper .content.open {
    width: 50%;
    float: left;
    margin: 0;
    padding: 3%;
    transition: 0.5s width linear; } }

.panel-wrapper .panel.open .back {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease; }

.panel-wrapper .content {
  display: none; }
  @media only screen and (min-width: 768px) {
    .panel-wrapper .content {
      height: 100vh;
      overflow: auto;
      transition: left 1s ease; } }
  @media only screen and (min-width: 768px) and (min-width: 768px) {
    .panel-wrapper .content {
      position: absolute;
      left: 50%;
      transition: left 1s ease; } }
  .panel-wrapper .content.open {
    display: block; }
