body {
	background-color: #fff;
}

.grid-wrapper {
	header {
		text-align: center;
		.logo {
			max-width: 300px;
			margin: 10px 0;
		}
	}

	.row {
		clear: both;
		@include min-screen(768px) {
			margin-bottom: 20px;
		}
	}

	.box {
		@include column(12);
		margin-bottom: 20px;
	    position: relative;
	    @include min-screen(640px) {
	    	@include column(6);
	    	margin-bottom: 20px;
	    }
		@include min-screen(768px) {
			@include column(4);
			margin-bottom: 30px;
		}
		transition: all .25s ease;
		&:hover {
			transform: scale(1.025);
		}
	}
	.box img {
		width: 100%;
	}
}