body {
	background-color: #fff;
}

.grid-wrapper {
	header {
		text-align: center;
		.logo {
			max-width: 300px;
			margin: 10px 0;
		}
	}

	.row {
		clear: both;
		@include min-screen(768px) {
			margin-bottom: 20px;
		}
	}

	.box {
		@include column(12);
		margin-bottom: 20px;
		height: 0;
	    overflow: hidden;
	    padding-bottom: 56.25%;
	    position: relative;
	    @include min-screen(640px) {
	    	@include column(6);
	    	padding-bottom: 26.25%;
	    	margin-bottom: 20px;
	    }
		@include min-screen(768px) {
			@include column(4);
			margin-bottom: 30px;
			padding-bottom: 17.25%;
			transition: 0.5s all ease;
			&:hover {
				font-size: 20px;
			}
		}
	}

	.box iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}