body {
	overflow-x: hidden;
}

//logo 
.panel-logo {
	position: absolute;
	margin: 0 auto;
	top: 50px;
	text-align: center;
	width: 100%;
	z-index: 1;
	img {
		max-width: 300px;
	}

}

.panel-wrapper {
	// intial panel dipslay (closed)
	.panel {
		//full-width on mobile
		width: 100%;
		position: relative;
		text-align: center;
		height: 33.333vh;
		padding: 3%;

		// transition details for the panel opening
		transition: left 1s ease;

		// three overlapped 50% width panels on 768+
		@include min-screen(768px) {
			width: 50%;
			float:left;
			height: 100vh;
			text-align: left;
		}

		.back {
			visibility: hidden;
			opacity: 0;
			color: #fff;
			transition: opacity 0.5s ease;
		}

		// individual panel styles
		&.opera {
			background-image: url(../img/Opera_LG.jpg);
			background-size: cover;
			background-position: center center;
			transition: left 0.5s ease;
			@include placement(33%);

		}
		&.music {
			background-color: #104a73;
			transition: left 0.5s ease;
			@include placement(-17%);
			background-image: url(../img/Music_LG.png);
			background-size: cover;
			background-position: center center;
			.overlay {
				@include min-screen(768px) {
					text-align: right;
					@include push(4);
				}
			}
		}
		&.ballet {
			background-image: url(../img/Ballet_LG.jpg);
			background-size: cover;
			background-position: center center;
			background-color: #62a4c5;
			transition: left 0.5s ease;
			@include placement(66%);
		}

		&.open {
			@include placement(0);
			transition: left 0.5s ease;
		}

		// heading
		h2 {
			color: #fff;
			text-transform: uppercase;
			margin: 0;
			font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
			letter-spacing: -2px;
			font-size: 60px;
			text-shadow: 3px 3px 0 #111;
			@include min-screen(768px) {
				font-size: 84px;
			}
		}

		// styles for the surtitle
		p:first-child {
			margin-bottom: 5px;
			text-shadow: 1px 1px 0 #111;
		}
		.surtitle {
			text-transform: uppercase;
			font-size: 12px;
			color: #fff;
			font-weight: bold;
			background-color: #068a7b;
			padding: 7px 5px;
			font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
			font-weight: bold;
		}

		// descriptive text
		.description {
			font-family: Domine, serif;
			color: #fff;
			font-size: 24px;
			line-height: 36px;
			font-weight: 300;
			margin: 0;
			text-shadow: 2px 2px 1px #111;
			display: none;
			@include min-screen(768px) {
				display: block;
			}
		}

		// hide the text overlay on load
		.overlay {
			@include min-screen(768px) {
				position: absolute;
				@include column(6);
				bottom: 0;
				// visibility: hidden;
				opacity: 0;
				transition: transform 0.15s linear, opacity 0.35s linear;
			}
		}

		// display the text overlay on hover/focus
		&:hover, &:focus {
			.overlay {
				@include min-screen(768px) {
					transform: translateY(-20%);
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	// open panels
	.panel.open, .content.open {
		padding: 3%;
		@include min-screen(768px) {
			width: 50%;
			float: left;
			margin: 0;
		}
	}

	.panel.open {
		.back {
			@include min-screen(768px) {
				opacity: 1;
				visibility: visible;
				transition: opacity 0.5s ease;
			}
		}
	}

	.content {
		display: none;
		@include min-screen(768px) {
			height: 100vh;
			visibility: hidden;
			opacity: 0;
			overflow: auto;
			z-index: -1;
			position: relative;
		}
		.link {
			@include min-screen(768px) {
				position: absolute;
				bottom: 0;
				text-transform: uppercase;
				margin: 0;
				font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
				letter-spacing: -2px;
				font-size: 84px;
			}
			a {
				color: #000;
			}
		}
		&.music {
			@include placement(-17%);
			transition: left 0.25s linear;
		}
		&.opera {
			@include placement(33%);
			transition: left 0.25s linear;
		}
		&.ballet {
			@include placement(67%);
			transition: left 0.25s linear;
		}
		&.open {
			visibility: visible;
			opacity: 1;
			display: block;
			transition: left 0.25s linear;
			@include placement(50%);
		}
	}
}