.panel-wrapper {
	// intial panel dipslay (closed)
	.panel {
		//full-width on mobile
		width: 100%;
		position: relative;
		text-align: center;
		height: 33.333vh;
		padding: 3%;

		// transition details for the panel opening
		transition: left 0.5s ease;

		// three overlapped 50% width panels on 768+
		@include min-screen(768px) {
			width: 50%;
			float:left;
			height: 100vh;
			text-align: left;
		}

		.back {
			visibility: hidden;
			opacity: 0;
			color: #fff;
			transition: opacity 0.5s ease;
		}

		// individual panel styles
		&.opera {
			background-color: #20629c;
			transition: left 0.5s ease;
			@include placement(33%);
		}
		&.music {
			background-color: #104a73;
			transition: left 0.5s ease;
			@include placement(-17%);
			.overlay {
				@include min-screen(768px) {
					text-align: right;
					@include push(4);
				}
			}
		}
		&.ballet {
			background-color: #62a4c5;
			transition: left 0.5s ease;
			@include placement(66%);
		}

		&.open {
			@include placement(0);
			transition: left 0.5s ease;
		}

		// heading
		h2 {
			color: #fff;
			text-transform: uppercase;
			margin: 0;
			font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
			letter-spacing: -2px;
			font-size: 60px;
			@include min-screen(768px) {
				font-size: 84px;
			}
		}

		// styles for the surtitle
		p:first-child {
			margin-bottom: 5px;
		}
		.surtitle {
			text-transform: uppercase;
			font-size: 12px;
			color: #fff;
			font-weight: bold;
			background-color: #068a7b;
			padding: 7px 5px;
			font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
			font-weight: bold;
		}

		// descriptive text
		.description {
			font-family: Domine, serif;
			color: #e6e6e6;
			font-size: 24px;
			line-height: 36px;
			font-weight: 300;
			margin: 0;
			display: none;
			@include min-screen(768px) {
				display: block;
			}
		}

		// hide the text overlay on load
		.overlay {
			@include min-screen(768px) {
				position: absolute;
				@include column(6);
				bottom: 0;
				// visibility: hidden;
				opacity: 0;
				transition: transform 0.15s linear, opacity 0.35s linear;
			}
		}

		// display the text overlay on hover/focus
		&:hover, &:focus {
			.overlay {
				@include min-screen(768px) {
					transform: translateY(-20%);
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	// open panels
	.panel.open, .content.open {
		@include min-screen(768px) {
			width: 50%;
			float: left;
			margin: 0;
			padding: 3%;
		}
	}

	.panel.open {
		.back {
			opacity: 1;
			visibility: visible;
			transition: opacity 0.5s ease;
		}
	}

	.content {
		@include min-screen(768px) {
			visibility: hidden;
			opacity: 0;
			height: 100vh;
			overflow: auto;
			@include placement(100%);
			transition: left 0.3s linear;
		}
		&.open {
			visibility: visible;
			opacity: 1;
			transition: left 0.3s linear;
			@include placement(50%);
		}
	}
}